/**
DATEPICKER
**/

.date-picker {
    box-sizing: border-box;
    background-color: #FFF;
    user-select: none;
}

.date-picker__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
    color: #313131;
    font-size: 1.1rem;
}

.date-picker-range {
    display: flex;
    position: relative;
}

.date-picker-range .date-picker__calendar {
    top: 100%;
}

.date-picker__input:hover {
    background-color: #F3F3F3;
}

.date-picker__input::placeholder {
    font-size: 1rem;
}

.date-picker__calendar {
    display: none;
    position: absolute;
    z-index: 5;
    width: 325px;
    user-select: none;
    background-color: #FFF;
    border: 1px solid #ddd;
}

.date-picker__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    /*border-bottom: 2px solid #EEE;*/
    /*border-top: 2px solid #EEE;*/
}

.date-picker__heading {
    padding: 5px;
}

.date-picker__heading:hover {
    background-color: #F3F3F3;
}

.date-picker__arrow {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker__arrow:hover {
    background-color: #F3F3F3;
}

.date-picker__arrow:active {
    background-color: #00CA85;
}

.date-picker__day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 35px;
    border: 1px solid #ddd;

}

.date-picker__day-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker__visible-area {
    display: grid;
    height: 200px;
    border: 1px solid #ddd;
}

.date-picker__visible-area_mode-days {
    grid-template-columns: repeat(7, 1fr);
}

.date-picker__visible-area_mode-months {
    grid-template-columns: repeat(3, 1fr);
}

.date-picker__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.date-picker__cell:hover {
    background-color: #F3F3F3;
}

.date-picker__cell_selected {
    background-color: #00CA85!important;
    color: #262626;
}

.date-picker__cell_today {
    font-size: 1.1rem;
    background-color: #cfecff;
}

.date-picker__cell_today:hover {
    background-color: #93d4ff;
}

.date-picker__cell_prev, .date-picker__cell_next {
    color: #c5c5c5;
}

.date-picker__today-btn {
    width: 100%;
    font-size: inherit;
    border: none;
    cursor: pointer;
    background-color: #cfecff;
}

.date-picker__today-btn:hover {
    background-color: #93d4ff;
}