/**
DATEPICKER
 */

.date-picker {
    position: relative;
    background-color: #FFF;
    border: 1px solid #ddd;
    user-select: none;
}

.date-picker > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker .selected-date {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #313131;
}

.date-picker .selected-date:hover {
    background-color: #F3F3F3;
}

.date-picker .calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #FFF;
}

.date-picker .calendar .month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEE;
    border-top: 2px solid #EEE;
}

.mth {
    padding: 5px;
}

.mth:hover {
    background-color: #F3F3F3;
}

.date-picker .calendar .month-header .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .calendar .month-header .arrows:hover {
    background-color: #F3F3F3;
}

.date-picker .calendar .month-header .arrows:active {
    background-color: #00CA85;
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 35px;
}

.weekDays div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible-area {
    display: grid;
    height: 200px;
}

.days {
    grid-template-columns: repeat(7, 1fr);
}


.day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.day:hover {
    background-color: #F3F3F3;
}

.day.selected {
    background-color: #00CA85;
    color: #262626;
}

.today {
    background-color: #cfecff!important;
}

.prev, .next {
    color: #c5c5c5;
}

.months {
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    width: 100%;
    border: none!important;
    cursor: pointer;
}

.today:hover {
    background-color: #93d4ff!important;
}