@import "../Datepicker/datepicker.css";
@import "../UserCard/userCard.css";
@import "../loader.css";
@import "../Search/search.css";

:root {
    font-family: Roboto Monospaced, sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.table-component {
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 25px;
    color: #313131;
    width: 750px;
    height: 450px;
    box-sizing: border-box;
    filter: blur(0px);
    transition: filter 1s;
}

.table-component_changing {
    filter: blur(5px);
}

.table-component input,
.table-component button,
.table-component select,
.table-component textarea {
    font-size: 1.1rem;
    color: #313131;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
    padding: 4px 8px;
}

.table-component input:hover,
.table-component select:hover,
.table-component textarea:hover {
    background-color: #F3F3F3;
}

.button {
    background-color: #cfecff;
}

.button:hover {
    background-color: #93d4ff;
}

.button:active {
    background-color: #abe1ff;
}

.table-container {
    /*position: relative;*/
    height: 300px;
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__row:nth-child(even) {
    background-color: #f2f2f2;
}

.table__row:hover {
    background-color: #d0d0d0;
}

.table-cell, .table-header {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ddd;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: white;
    border-top: none;
    cursor: pointer;
    user-select: none;
}

.table-cell {
    width: 10px;
    text-align: center;
}

.table-cell_editing {
    padding: 0;
}

.table-cell__input {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4px;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    resize: vertical;
}

.table__user-card {
    display: none;
    position: absolute;
}